@import "tailwindcss";

:root {
--gp-bg-top: #ffffff;
  --gp-bg-mid: #ffffff;
  --gp-bg-bottom: #ffffff;
  --foreground: #0f172a;
  --chakra-fonts-heading: Telenor, "Noto Sans Bengali", "Helvetica Neue", Helvetica, Arial, "Noto Sans Bengali", sans-serif;
  --chakra-fonts-body: Telenor, "Noto Sans Bengali", "Helvetica Neue", Helvetica, Arial, "Noto Sans Bengali", sans-serif;
  --chakra-fonts-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@theme inline {
  --color-foreground: var(--foreground);
}

body {
  min-height: 100vh;
background: #ffffff;
    /* radial-gradient(circle at 14% 18%,  32%),
    radial-gradient(circle at 88% 12%, 28%),
    linear-gradient(180deg, var(--gp-bg-top) 0%, var(--gp-bg-mid) 46%, var(--gp-bg-bottom) 100%); */
  color: var(--foreground);
  font-family: var(--chakra-fonts-body);
}

/* floating animation */
.floating-anim {
  animation: floating 3.3s ease-in-out infinite;
}

@keyframes floating {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
}

@layer base {
  html, body {
    font-family: var(--chakra-fonts-body);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--chakra-fonts-heading);
  }

  code, pre, kbd, samp {
    font-family: var(--chakra-fonts-mono);
  }
}
